<?xml version="1.0" encoding="UTF-8"?>


<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">


 <global-method-security secured-annotations="enabled" pre-post-annotations="enabled">
  <expression-handler ref="methodSecurityExpressionHandler"/>
 </global-method-security>


 <http pattern="/res/**" security="none"/>

 <http auto-config="true" use-expressions="true" >
  <intercept-url pattern="/" access="permitAll "/>
  <intercept-url pattern="/main/index" access="permitAll "/>
  <intercept-url pattern="/user/login" access="permitAll "/>
  <intercept-url pattern="/user/id/available" access="permitAll "/>
  <intercept-url pattern="/user/join" access="permitAll "/>
  <intercept-url pattern="/user/joinSuccess" access="permitAll "/>
  <intercept-url pattern="/user/findInfo" access="permitAll "/>
  <intercept-url pattern="/user/idResult" access="permitAll "/>
  <intercept-url pattern="/user/pwResult" access="permitAll "/>
  <intercept-url pattern="/sub/myPage" access="permitAll "/>
  <intercept-url pattern="/user/pw/check" access="permitAll "/>
  <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
  <form-login login-page="/user/login" 
   default-target-url="/main/index2" 
   login-processing-url="/security/login" 
   always-use-default-target="true" 
   authentication-failure-url="/user/login?error=1" 
   username-parameter="lgnId" 
   password-parameter="lgnPw" 
   authentication-success-handler-ref="authenicationSuccess"/>
  <session-management>
   <concurrency-control max-sessions="1" error-if-maximum-exceeded="false"/>
  </session-management>
  <logout logout-success-url="/main/index" logout-url="/logout"/>
 </http>
 <beans:bean id="authenicationSuccess" class="kr.co.pocari.common.security.AuthenticationSuccess"/>
 <beans:bean id="userDetailService" class="kr.co.pocari.common.security.UserDetailService"/>
 <authentication-manager alias="authenticationManager">
  <authentication-provider user-service-ref="userDetailService">
   <password-encoder hash="plaintext" base64="true"/>
  </authentication-provider>
 </authentication-manager>
</beans:beans>

