@CHARSET "UTF-8";
/* ====================== base ================= */
header {
	width: 100%;
}

#header_logo img {
	height: 50px;
	width: 120px;
	margin:10px 20px;
}


header#header1 {
	position:absolute;
	transition: all .3s ease-out; /* 배경속도 */
	z-index: 2;
}

header#header1:hover {
	background-color: #fff;
}

/* ====================== header1 ================= */
#main_img img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0.9;
}

#header_meun, ul, li {
	list-style: none;
	float: right;
}

a, #header_meun, #header_logo {
	display: inline-block;
}

nav#header_meun, ul, li {
	margin: 5px 10px 5px;
}

.header .start {
	font-size: 15px;
	margin: 0 5px;
	padding: 1.0vh 1.96vw;
	border-radius: 40px;
	border: 1px solid #121416;
	text-decoration: none;
	color: #000000;
	transition: all .3s ease-out;
}

.header .start:hover {
	text-decoration: none;
	background: #3899EC;
	border-color: #3899EC;
	color: #fff;
}

/* ====================== header2 ================= */
a, #main_meun, #header_logo {
	display: inline-block;
}
nav#main_meun {
	margin: 15px 20px;
}
#main_meun, ul, li {
	list-style: none;
	float: right;
	margin: 5px 4px;
	font-weight: bold;
}
nav#main_meun a {
	text-decoration: none;
	font-size: 14px;
	color: #777;
}

div#main_search {
	width: 100%;
	height: auto;
	text-align: right;
}
div#main_search input[type="text"] {
	margin: 10px 5px;
	padding-left:15px;
	border-radius: 42px;
	border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  height:30px;
  position: relative;
  right:30px;
}
div#main_search input[type="button"] {
  width: 40px;
  height: 35px;
  border:none;
  background:none;
 	position: absolute;
 	right:40px;
 	margin:5px 10px;
}


