@CHARSET "UTF-8";

/*=============================== base ====================================*/

 div#member_logo{
	margin:10px 20px;
	width:120px;
	height:55px;
	background-image: url( "/pocari/res/img/logo.png" );
	background-size:120px 50px;
	background-repeat:no-repeat;
}
body {
	margin:0;
}

.home {
	width:100%;
	height:100%;
	background-image: url( "/pocari/res/img/main_img1.png" );
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
}

select#emailSelect{
   padding-top: 3px;
   padding-bottom: 7px;
   width: 106px;
   height: 30px;
}

div {
	font-family:굴림;
}
/*=============================== join ====================================*/

div#join_main{
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: auto;
	background-color: #ffffff;
	opacity: 0;
}

div#join_main h1{
	margin : 20px 0;
	text-align: center;
	font-weight:bold;
	color:#3a6d8c;
	font-size:34px;
}

@media (max-width:1100px){
	div#join_email #emailChk{
	font-size:17px;
	}
}

div#join_main div{
	text-align: center;
	margin: 30px 0;
}
div#join_main input.join_info{
	padding: 6px 10px;
}
div#join_main div#join_email{
	margin: 10px 0 0 0;
	text-align: center;
}
div#join_main div#join_email input.join_info_email{
	padding: 6px 7px;
}
#select_email{
	width: 95px;
	height: 31px;
}
div#join_btn {
	text-align: center;
	margin: 30px 0;
}
div#join_btn input {
	text-align: center;
	padding: 10px 60px;
	border: none;
	border-radius: 5px;
	color: #CC8755;
	background-color: #F0DDA0;
	display: inline-block;
}

input.join_info.error {
	border : 1px solid red;
}

label.error{
	margin-left:35px;
	color : red;
	font-weight: bold;
	display: block;
	text-align:left;
	font-size: 13px;
}
input.error {
	border : 1px solid red !important;
}
p#emailChk {
	margin: 0 0 0 35px;
	color : red;
	font-weight: bold;
	display: block;
	text-align:left;
	font-size: 13px;
}
p#idChk {
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding-left: 35px;
}


/*=============================== login ====================================*/

div#login_main{
	position: absolute;
	background-color: white;
	width: 400px;
	height: 360px;
	top:20%;
	left:50%;
	margin-left:-200px;
	opacity: 0;
	text-align: center;
}
div#login_id{
	padding-top: 30px;
}

input#login_button {
	padding: 10px;
	width: 300px;
	height: 50px;
	color: #CC8755;
	font-size: 20px;
	background-color: #F0DDA0;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
}

div#login_title {
	padding-top: 20px;
	font-size: 34px;
	color:#3a6d8c;
	font-weight: bold;
}

#login_main input {
	padding: 6px;
}

div#login_join{
	display: inline-block;
	padding-top: 8px;
	font-size: 15px;
}

div#login_join a:visited, div#login_join a:link {
	color:#538CB8;
}

div#login_join a:hover {
	color:#225A85;
}

a#login_join_info1, a#login_join_info2{
	text-decoration: none;
}
a#login_join_info1, a#login_join_info2{
	font-size: 13px;
	font-weight: bold;
}
a#login_join_info2 {
	float: left;
	padding-top: 8px;
}
/*=============================== joinSuccess ====================================*/
div#succ_main {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height: 300px;
	background-color: white;
	opacity: 0;
}
div#succ_main h1 {
	text-align: center;
	margin-top: 70px;
}
div.succ_btn {
	text-align: center;
}
div.succ_btn a {
	position: absolute;
	top: 55%;
	left: 38%;
	padding: 10px 30px;
	background-color: skyblue;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
}
div.succ_btn a:link, div.succ_btn a:visited, div.succ_btn a:active, div.succ_btn a:hover {
	color: #000;
}

/*=============================== findinfo ====================================*/
div#info_main{
	width: 600px;
	height: 370px;
	background-color: white;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -300px;
	opacity : 0;
}
a.info_meun {
	font-size: 21px;
	text-decoration: none;
	color : #538CB8;
}
div#info_meun1, div#info_meun2{
	padding: 10px 0;
	width: 45%;
	display: inline-block;
	text-align: center;
}
div#info_meun1 {
	border: 1px solid #E6B54B;
	border-bottom: 0px solid;
	margin: 20px 0 9px 28px;
}
div#info_meun2 {
	margin-top: 20px;
	border: 1px solid #E6B54B;
}
div#id_info {
	margin-top: 20px;
	margin-left: 40px;
	font-size: 15px;
	font-weight: bold;
}

div#id_info #id_go {
	padding: 6px;
}

div#id_info #email1 {
	padding: 6px;
}


div#id_info #email2 {
	padding: 6px;
}


input#info_btn{
	padding: 10px 70px;
	margin-left: 25%;
	background-color: #F0DDA0;
	color: #CC8755;
	border: none;
	border-radius: 5px;
}
div#pw_info {
	margin-top: 20px;
	margin-left: 40px;
	font-size: 15px;
	font-weight: bold;
	display: none;
}

div#pw_info .pw_go {
	padding : 6px;
}

div#pw_info #pwEmail1 {
	padding: 6px;
}

div#pw_info #pwEmail2 {
	padding : 6px;
}

/*=============================== pwResult ====================================*/
div#result_main {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 200px;
	background-color: white;
	opacity: 0;
}
div#result_main h2{
	margin-top: 35px;
	margin-left: 50px;
	color: #538CB8;
}
div#result_main p{
	margin-left: 80px;
	font-weight: bold;
}
div#result_main input{
	position: absolute;
	top: 70%;
	left: 33%;
	background-color: #F0DDA0;
	color: #CC8755;
	border: none;
}
